body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.925);
}

h1 {
  margin: 0;
  color: white;
  font-size: 36px;
}

#board {
  margin: 20px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 5px;
  gap: 1;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 5px;
}

.tile {
  height: 60px;
  width: 60px;
  border: 2px solid rgb(58, 58, 58);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  box-sizing: border-box;
}

.guessed {
  border: 0;
}

.correct {
  background: yellowgreen;
}

.incorrect {
  background: rgb(90, 90, 90);
}

.almost {
  background: rgba(247, 200, 47, 0.87);
}

#console {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 18px;
}

#start {
  background: rgba(255, 255, 255, 0);
  color: whitesmoke;
  border: 2px solid rgb(58, 58, 58);
  font-size: 21px;
  font-weight: bold;
  width: 300px;
  height: 40px;
  border-radius: 5px;
}

button:hover {
  background: orange;
}
